In [1]:
# LISTAS
lista1 = [1, 2, 3] # O Python só identifica como uma lista através dos colchetes.

In [2]:
type(lista1)

list

In [3]:
lista2 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
type(lista2)

list

In [5]:
lista1[0] # Para identificar um elemento (primeiro) da lista 1.

1

In [6]:
lista1[2]

3

In [7]:
lista2[0]

[1, 2, 3]

In [8]:
lista2[2]

[7, 8, 9]

In [9]:
lista2[0][2] # Seleciona o terceiro elemento da primeira lista.

3

In [11]:
lista2[2][2]

9

In [12]:
select = lista2[1][2]

In [13]:
print(select)

6

In [14]:
type(select)

int

In [18]:
select = lista2[2]

In [19]:
print(select)
type(select)

[7, 8, 9]

list

In [27]:
import random
cidades = ["São Paulo", "Rio de Janeiro", "Belo Horizonte", "Natal"]
escolhida = random.choice(cidades)
print("A cidade escolhida é:", escolhida)

A cidade escolhida é: São Paulo

In [28]:
a = [1, 2, 3]

In [29]:
a.append(15) # Comando para adicionar um novo elemento à lista.

In [30]:
print(a)

[1, 2, 3, 15]

In [31]:
b = [7, 8, 9]

In [32]:
for item in b: # Para cada um dos elementos de b...
    a.append(item) # Inclui cada elemento de b dentro da lista a.

In [33]:
print(a)

[1, 2, 3, 15, 7, 8, 9]

In [34]:
# TRANFORMANDO LISTAS FLOAT EM INT
num = 8
type(num)

int

In [35]:
float(num) # Converte a variável num de inteiro para float.

8.0

In [36]:
num1 = 3.5
type(num1)

float

In [37]:
int(num1) # Converte a variável num1 de float para inteiro.

3

In [38]:
x = [2, 4, 10, 6]
type(x)

list

In [41]:
print(x)

[2, 4, 10, 6]

In [44]:
nova = []
for item in x: 
    nova.append(float(item))

In [45]:
print(nova)

[2.0, 4.0, 10.0, 6.0]

In [1]:
# TUPLAS

### Ao contrário das listas, as tuplas são colocadas em parênteses.
### As tuplas são listas que não podem ser alteradas.

lista = [3, 6, 4]
lista[0] = 20 # Na lista é possível substituir os valores.
print(lista)

[20, 6, 4]